@charset "UTF-8";
/* 초기화 */
* {
  margin: 0; padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none; color: #0;
}
.hidden {
  position: absolute;
  left: -9999px;
}
html,body {
  position: relative;
  height: 100%;
}
/* 헤더 */
#header {
  position: relative;
  width: 100%; height: 200px;
}
#header h1 {
  width: 240px;
  margin: 0 auto;
}
#header h1 a {
  display: block;
  height: 150px;
  text-indent: -9999px;
  background: url(images/recycloud-logo.png) center center / cover;
}
/* gnb */
#gnb {
  position: absolute;
  top: 0; left: 0;
  width: 500px; height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
#gnb .togBtn {
  position: absolute;
  top: 20px; left: 420px;
  width: 50px; height: 50px;
  background: url(images/togBtn1.png) center center / cover;
  cursor: pointer;
}
.bigNav {
}
.bigNav > li {
  height: 40px;
  padding: 20px 0 0 20px;
}
.bigNav > li > a {
  display: block;
  width: 250px;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}
.smallNav {
  position: relative;
  top: -40px;
  left : 250px;
}
.smallNav li {
  height: 20px;
  padding-top: 10px;
}
.smallNav li a {
  display: block;
  width: 200px;
  font-size: 20px;
  color: #fff;
}
/* snb */
#snb {
  position: absolute;
  top: 50px; right: 50px;
  width: 350px;
}
#snb ul li {
  float: left;
  margin: 0 20px;
}
.snbSearch {
  width: 140px; height: 25px;
  font-size: 12px;
  font-style: italic;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;
}
.snbSubmit {
  position: absolute;
  top: 0; left: 140px;
  width: 25px; height: 25px;
  background: url(images/searchIcon.png) center center / cover;
  border: 0;
}
.snbSubmit a {
  display: block;
  text-indent: -9999px;
}
.contact {

}
.contact a {
  text-transform: uppercase;
}
/* swiper plugin */
.swiper {
  width: 100%;
  height: 50vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide1 {
  background: url(images/climate.jpg) no-repeat center center / contain;
  text-indent: -99999px;
}
.slide2 {
  background: url(images/climate2.jpg) no-repeat center center / contain;
  text-indent: -99999px;
}
.slide3 {
  background: url(images/climate3.jpg) no-repeat center center / contain;
  text-indent: -99999px;
}
.slide4 {
  background: url(images/climate4.jpg) no-repeat center center / contain;
  text-indent: -99999px;
}
/* searchBox */
.searchBox {
  width: 100%; height: 200px;
  margin: 10px auto;
  border: 1px solid #000;
  text-align: center;
}
